[submodule "libft"]
	path = libft
	url = git@github.com:mewmewdevart/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:mewmewdevart/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
        url = git@github.com:mewmewdevart/ft_printf.git
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:mewmewdevart/born2beroot.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:mewmewdevart/so_long.git
